@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import 'inputs.scss';
@import 'variables.scss';

html {
    margin: 0;
    height: 100%;
    display: grid;
    place-items: center;
    background-image: url('/images/bg-pattern.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: $grayish-blue;
    width: 1440px;
    height: 100%;
    display: grid;
    place-content: center;
    @media (max-width: 800px) {
        width: 375px;
    }
}

.container {
    width: 40vw;
    display: grid;
    grid-auto-flow: row;
}

.intro {
    text-align: center;
    background-image: url('/images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 30px;
    h1 {
        color: $dark-saturated-blue;
        font-weight: 800;
    }
}

section {
    background-color: $white;
    border-radius: .66rem;
    width: 100%;
    height: auto;
}

.price-selection {
    display: grid;
    input {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    @media (max-width: 800px) {
        grid-auto-flow: row;
        input {
            grid-column: unset;
            grid-row: unset;
        }
    }
}

.billing-choice {
    display: grid;
    grid-auto-flow: column;
}

.footer {
    display: grid;
    grid-auto-flow: column;
    border-top: 1px solid $light-grayish-blue;
    ul {
        list-style-image: url('/images/icon-check.svg');
        line-height: 2rem;
        padding-left: 3rem;
    }
    button {
        height: 2.5rem;
        width: 11rem;
        border-radius: 1.25rem;
        border: none;
        place-self: center;
        background-color: $dark-saturated-blue;
        color: $pale-blue;
        cursor: pointer;
        font-family: 'Manrope', sans-serif;
        &:hover {
            color: $light-grayish-blue2;
        }
    }
}